html{
  width: 100%;
  font-size: 10px;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $body-background-color;
  color: $foreground-color;
  font-family: 'DINP-R', arial, serif;
  font-size: 1.4rem;
}

.wrapper{
  display: flex;  
  margin: 10px;
  padding: 30px;
  max-width: 900px;
  border: 1px solid $mainColor;
  border-radius: 20px;  
  color: $white;
  min-height: 450px;
  -webkit-box-shadow: 0px 0px 20px 0px $mainColor;
  -moz-box-shadow: 0px 0px 20px 0px $mainColor;
  box-shadow: 0px 0px 20px 0px $mainColor;
}

.header{
  padding: 30px;
  min-height: 340px;
  display: grid;
  /* grid-template-rows:repeat(3, 1fr); */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-areas:
        "tt tt cc"
        "ff ff cc"
        "ff ff cc";
  width: 100%;  
  max-width: 419px;  
  background-color: $mainColor;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1) inset;
  -moz-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1) inset;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1) inset;


  &__title{    
    grid-area: tt;
    font-size: 3rem;
    font-weight: bold;
  }

  &__title:before{    
    content:""
  }

  &__contacts{
    grid-area: cc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;

    &__link{
      margin: 5px 10px;
      display: inline-block;
      width: 30px;      
      cursor: pointer;   
            
      
      svg{
        width: 30px;
        height: 30px;
        fill: $white;
      }

      svg:hover{       
        -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 1);
        border-radius: 50%;       
      }
      
    }
  }

  &__logo{    
    grid-area: ff;
    justify-self: center;
    
    .logo{
      width: 220px;      
      background-color: $white;
      border-radius: 50%;
    }
  }
}

.main{
  padding: 0 30px;
  width: 100%;  
  max-width: 419px;
  min-height: 340px;   

  .tabs__container{    
    

    .nav{    
      grid-area: ff;
      
      &-link{
        font-size: 2rem;
      }
      
      .active{
        color: $mainColor;
        background-color: #fff;
        border-color: $mainColor $mainColor #fff;
      }

      &-tabs{
        border-bottom: 1px solid #1d527a;
      }
    }

    .tab-content{
      padding: 20px 0;      
      color: $mainColor; 
      font-size: 1.7rem;

      #projects{
        .carousel-item{
          min-height: 300px;
        }

        .project__link{
          text-decoration: none;
        }

        figure{
          display:flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          
          .image-project{
            width: 250px;
          }

          .title-project{
            padding: 10px 0;
            font-weight: bold;
            font-style: italic;
            font-size: 2rem;
          }          
        }

        .description-project{
          text-align: justify;
          text-indent: 2rem;
        }

        button{
          color: $mainColor;
          font-size: 3rem;
        }
        
        .carousel-inner{
          margin: 0 auto;
          width: 80%;

          
        }

      }
           

      .about{        
        text-align: justify;
      }

      .skills{
        padding: 0;
        

        li{
          padding: 5px 0;

          span{
            font-weight: bold;
          }
          
          p{
            display: inline;          
          }
        }        
      }

      .projects{
        position: relative;
      }
    }
    
  }
  
}




@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
  
}

@media only screen and (min-width: 1024px) {
  
  
}

@media only screen and (max-width: 1023px) {
  .wrapper{
    flex-direction: column;

    .main{
      padding-top: 10px;
    }
  }
}
